@use "sass:math";

// mixin ==================================================================================================================================================================================================================================================================================================================================
@import "_mixin";

// fonts / iconmoon ==================================================================================================================================================================================================================================================================================================================================
@import "_fonts";
@import "_iconmoon";

$fontFamily: "Inter", sans-serif;
$fontSize: calc(16 / 16) + rem;

// color ==================================================================================================================================================================================================================================================================================================================================
$colorGray: #8f8f8f;
$colorBlack: #000;
$colorRed: #ff7373;
$colorBg: #ececec;
$colorWhite: #fff;
$colorLight-gray: #e4e4e4;

// breakpoints ==================================================================================================================================================================================================================================================================================================================================
$pc: 1400px;
$laptop: 1000px;
$tablet: 767.98px;
$mobile: 424.98px;
// nullstyle ==================================================================================================================================================================================================================================================================================================================================
@import "_nullstyle";

// wrapper ==================================================================================================================================================================================================================================================================================================================================
body {
   &.lock {
      overflow: hidden;
   }
}
.wrapper {
   width: 100%;
   min-height: 100%;
   display: flex;
   flex-direction: column;
   background-color: $colorBg;
   line-height: 1.1875;
   color: $colorGray;
   padding: 20px 0;
   font-size: $fontSize;
   font-family: $fontFamily;

   @media (max-width: 1470px) {
      overflow-x: hidden;
   }
}
.main {
   flex: 1 1 auto;
}
[class*="__container"] {
   margin: 0 auto;
   padding: 0 15px;
   max-width: 1430px;
   width: 100%;
}
a {
   display: inline-block;
   font-family: $fontFamily;
   line-height: 1.1875;
}
// поключение основных файлов стилей ==================================================================================================================================================================================================================================================================================================================================
@import "base/header";
@import "base/main";
@import "base/footer";

@import "base/aside";

// подключение базовых файлов стилей
@import "base/page";

// подключение дополнительных файлов стилей
@import "base/popup";

// wrapper ========================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================
