/* popup ===========================================================================================================================================================================================================================================================================================================================*/
.popup {
   position: fixed;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   background-color: rgba(29, 28, 33, 0.8);
   z-index: 99;
   opacity: 0;
   visibility: hidden;
   overflow-y: auto;
   overflow-x: hidden;
   transition: all 0.8s ease 0s;
   pointer-events: none;

   // .popup__body

   &__body {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 30px 10px;
   }

   // .popup__content

   &__content {
      position: relative;
      top: 0;
      color: #000;
      max-width: 1000px;
      min-height: 100px;
      padding: 30px;
      background: #fff;
      opacity: 0;
      transition: all 0.8s ease 0s;
      transform: perspective(600px) translate(0, -100%) rotateX(45deg);
      text-align: center;
      font-family: $fontFamily;
      border-radius: 20px;
   }

   // .popup__close

   &__close {
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 20px;
      color: #000;
      text-transform: uppercase;
      text-decoration: none;
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   }
}
.popup.open {
   opacity: 1;
   visibility: visible;
   pointer-events: visible;
}
.popup.open .popup__content {
   opacity: 1;
   transform: perspective(600px) translate(0, 0%) rotateX(0deg);
}

//  popup avatar ===========================================================================================================================================================================================================================================================================================================================*/
.popup {
   // .popup__image

   &__image {
      position: relative;
      height: 100px;
      width: 100px;
      display: inline-block;

      img {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   // .popup__title

   &__title {
      color: $colorRed;
      font-weight: 700;
      font-size: 40px;

      &:not(:last-child) {
         margin-bottom: 30px;
      }

      @media (max-width: $pc) {
         font-size: calc(25px + (40 - 25) * ((100vw - 320px) / (1400 - 320)));
      }
   }

   // .popup__text

   &__text {
      color: $colorGray;
      font-size: 18px;
   }
}

// popup comment ===========================================================================================================================================================================================================================================================================================================================*/
.popup {
   //.popup__content

   // .popup__img

   &__img {
      text-align: center;
      display: inline-block;
      position: relative;
      width: 50%;
      padding-bottom: 50%;

      img {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
      }

      &:not(:last-child) {
         margin-bottom: 20px;
      }
   }
}
.content-popup {
   text-align: center;
   // .content-popup__icon

   &__icon {
      display: inline-block;

      &:not(:last-child) {
         margin-bottom: 20px;
      }
   }

   // .content-popup__title

   &__title {
      color: $colorBlack;
      font-size: calc(30 / 16) + rem;

      &:not(:last-child) {
         margin-bottom: 20px;
      }
   }

   // .content-popup__text

   &__text {
      font-size: calc(18 / 16) + rem;
      color: $colorGray;

      &:not(:last-child) {
         margin-bottom: 20px;
      }
   }
}

// popup slider ===========================================================================================================================================================================================================================================================================================================================*/
.slider-popup {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   z-index: 99;
   overflow-x: hidden;
   overflow-y: auto;
   transition: all 0.8s ease;
   opacity: 0;
   visibility: hidden;
   pointer-events: none;

   // .slider-popup__body

   &__body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 50px 10px;
   }

   // .slider-popup__content

   &__content {
      position: relative;
      max-width: 800px;
      width: 100%;
      background-color: $colorWhite;
      opacity: 0;
      transition: all 0.8s ease;
      transform: perspective(600px) scale(0) rotateX(45deg);
   }

   // .slider-popup__close

   &__close {
      position: absolute;
      top: 0;
      right: 0;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $colorRed;
      color: $colorWhite;
      z-index: 2;
   }

   // .slider-popup__image

   &__image {
      position: relative;
      max-width: 100%;
      padding-bottom: 85.7%;

      img {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
}
.close-popup {
}
.popup.slider-popup.open {
   opacity: 1;
   visibility: visible;
   pointer-events: visible;
}

.popup.slider-popup.open .slider-popup__content {
   opacity: 1;
   transform: perspective(600px) scale(1) rotateX(0deg);
}
